<div id="result-container">
    <div id="icon-temp">
        <div><img src="@Weather.IconUrl" alt="Weather icon"></div>
        <div id="temp">@Weather.Temperature°C</div>
    </div>
    <div>
        <div id="description">@Weather.Description</div>
        <div>Barometer @Weather.Pressure hPa</div>
        <div>Humidity @Weather.Humidity%</div>
        <div>Wind @Weather.WindSpeed m/s</div>
    </div>
</div>

@code{
    [Parameter]
    public Weather Weather { get; set; }
}